* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-color: #31c1f4;
  --actions-color: #c826e4;
}
P,
li,
a {
  font-family: Inter;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: 33.692px; /* 168.461% */
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
a {
  color: #000;
  line-height: normal;
}
/* sinner style*/
.spinner-container {
  width: 100%;
  height: 240vh;
  background-color: #fff;
  position: absolute;
  z-index: 1;
}
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  display: none; /* Initially hide the spinner */
  z-index: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* header style */

header {
  display: flex;
  width: 100%;
  height: 6em;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
.logo {
  margin-left: 10px;
}
.logo-container {
  width: 10rem;
  height: 100%;
  display: flex;
}
.logo-container::before {
  content: "";
  display: flex;
  margin: auto;
  margin-right: 0;
  margin-left: 0;
  background: url(../assets/diamond_square.svg);
  height: 14px;
  width: 5rem;
  background-size: cover;
}
.nav {
  background: url(../assets/diamond_square2.svg);
  width: 77%;
  height: 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.nav .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  list-style: none;
  margin: 0;
  height: 100%;
  padding-left: 6rem;
}
.nav .nav-list li {
  text-align: center;
  width: 6rem;
  height: 3rem;
  background: #fff;
  /* border: 1px solid #c826e4; */
}
.nav .nav-list .projects {
  width: 8rem;
}
.projects a {
  gap: 0.5rem;
}
.nav .nav-list li a {
  color: #000;
  text-decoration: none;
  width: 6rem;
  height: 3rem;
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* margin-top: -8px; */
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 100%;
}
.contact a {
  width: 11rem;
  margin-right: 10px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 22px;
  color: #c826e4;
  text-decoration: none;
}
.contact::after {
  content: "";
  display: flex;
  margin: auto;
  margin-right: 0;
  background: url(../assets/diamond_square3.svg);
  background-size: cover;
  height: 14px;
  width: 5rem;
}
.contact a::before {
  content: url(../assets/contact_vector.svg);
}

/* end header style */

.current-page {
  border: 1px solid var(--actions-color);
}

/* animated border */
.animated-border:active {
  border: 1px solid var(--actions-color);
}

/* hero section */
.hero-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 70px;
}
.hero-section .hero-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2.5rem;
}
.hero-section .hero-content h1 {
  color: #000;
  font-family: Inter;
  font-size: 50.794px;
  font-style: normal;
  font-weight: 800;
  line-height: 33.692px; /* 66.331% */
}
.hero-section .hero-content p {
  width: 640px;
  height: 210px;
  color: #000;
}
.hero-section .hero-content button {
  border: 34px solid transparent;
  border-image: url(./assets/Group7.svg) 40 round;
  width: 200px;
  height: 65px;
  background: #fff;
  color: #000;
  font-family: Inter;
  font-size: 27.883px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.692px;
  position: relative;
}

.hero-section .hero-content button span {
  position: absolute;
  top: -15px;
  left: 30px;
}

.hero-image img {
  border-top-right-radius: 8rem;
  border-bottom-left-radius: 8rem;
  width: 450px;
  height: 450px;
}

/* mission section */
.mission-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission-section h1,
.news-section h1 {
  width: 100%;
  color: #000;
  display: flex;
  font-family: Inter;
  font-size: 43.719px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.692px; /* 77.066% */
}

.mission-section h1::before {
  content: "";
  padding-right: 1rem;
  display: flex;
  height: 3px;
  width: 45rem;
  display: inline-flex;
  margin: auto;
  margin-right: 2rem;
  background-color: #101239;
}
.mission-section h1::after {
  content: "";
  padding-left: 1rem;
  display: flex;
  width: 45rem;
  height: 3px;
  display: inline-flex;
  margin-left: 2rem;
  margin: auto;
  background-color: #101239;
}

.mission-container {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
  width: 100%;
}
.mission-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 15rem;
  margin-top: 6rem;
  padding-left: 3.3rem;
}
.mission-content h3 {
  color: #000;
  font-family: Inter;
  font-size: 32.391px;
  font-style: normal;
  font-weight: 500;
  line-height: 33.692px; /* 104.017% */
}
.mission-content p {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
}

.mission,
.vision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 210px;
  gap: 3rem;
}
/* .mission-image {
  padding-left: 3.3rem;
  padding-bottom: 4rem;
} */
.news-section h1 {
  display: flex;
  width: 100%;
}
.news-section h1::before {
  content: url(./assets/news_before.svg);
  display: flex;
  width: 33rem;
  padding-right: 4.2rem;
}
.news-section h1::after {
  content: url(./assets/news_after.svg);
  display: flex;
  width: 33rem;
  padding-left: 4.2rem;
}
.news-section {
  display: flex;
  flex-direction: column;
}
.card-container {
  margin-left: 2rem;
  margin-top: 4rem;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  overflow: scroll;
  gap: 2rem;
  scrollbar-color: #e0e0e0 #e0e0e0;
}
.card-container::-webkit-scrollbar {
  width: 10px;
  height: 44px;
}
.card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: var(--main-60, #f7f7f7);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
  gap: 22px;
}
.card img {
  height: 198px;
  border-radius: 12px;
  background: var(--main-60, #f7f7f7);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);
}
.card-details {
  display: flex;
  width: 333px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.card-details p {
  color: #666;

  /* Main/Paragraph -> Light */
}

#slide {
  position: absolute;
  display: flex;
  height: 198px;
  padding: 0px 8.281px 0px 52px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 90px 90px 0px;
  border-radius: 0px 150px 150px 0px;
  background: rgba(230, 227, 227, 0.4);
  border: none;
  top: 127rem;
}
#slideBack {
  position: absolute;
  display: flex;
  height: 198px;
  padding: 0px 52px 0px 8.281px;
  justify-content: center;
  align-items: center;
  border-radius: 150px 0px 0px 150px;
  background: rgba(230, 227, 227, 0.4);
  border: none;
  top: 127rem;
  left: 77rem;
}
footer {
  background-image: url(./assets/footer.svg);
  width: 1461px;
  height: 150px;
  flex-shrink: 0;
}

/* news page */

#polygon {
  position: absolute;
  right: 0;
  top: -1em;
}
#rectangle1,
#rectangle2 {
  position: absolute;
  display: inline-block;
}
#rectangle1 {
  left: 8rem;
}
#rectangle2 {
  left: 24rem;
}
.news-hero {
  width: 100%;
}
.social-icons {
  display: flex;
  flex-direction: column;
  width: 134px;
  height: 39px;
  align-items: center;
  gap: 36px;
  margin-left: -2rem;
  margin-top: 8rem;
}
.news-content p {
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: 33.692px; /* 280.768% */
  transform: rotate(-90deg);
  position: absolute;
  left: 6.4rem;
  top: 22.5rem;
}
.news-content p::before {
  content: "";
  display: flex;
  width: 30px;
  height: 0.5px;
  background-color: #666;
  display: inline flow-root list-item;
  list-style: none;
  margin-right: 10px;
  margin-bottom: 3px;
}
.news-content h1 {
  color: #fff;
  font-family: Inter;
  font-size: 218px;
  font-style: normal;
  font-weight: 800;
  line-height: 33.692px; /* 14.918% */
  position: absolute;
  left: 16rem;
  top: 20rem;
}
.inspiration {
  width: 252px;
  float: right;
  margin-top: 7rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.inspiration h3 {
  color: #fff;
  font-family: Inter;
  font-size: 27.883px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.692px; /* 120.833% */
}
.inspiration p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24.7px; /* 154.375% */
}

/* form style */
.form-section {
  height: 45rem;
  margin-top: 8rem;
}
.forms {
  width: 60rem;
  height: 36rem;
  border: 2px #101239 solid;
  border-radius: 0px 100px 0pc 0px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  border-color: #101239;
}
.forms h1 {
  position: absolute;
  top: -4%;
  left: 4%;
  font-size: 2rem;
  width: 12rem;
  color: #101239;
  text-align: center;
  background-color: #fff;
}
.contact-img {
  width: 321.53px;
  height: 490.19px;
  margin-right: 30px;
  margin-top: 2rem;
}

.input-data {
  /* margin-bottom: 50px; */
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-top: 8rem;
  gap: 2rem;
  width: 22rem;
}

.input-data input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 1px solid #101239;
  outline: none;
  display: flex;
  padding: 1rem;
}

.input-data .button {
  border: none;
  padding: 20px;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  width: 220px;
  background-color: #c826e4;
}

.input-data .button:hover {
  cursor: pointer;
  background-color: #101239 solid;
  border: 2px solid white;
}

.form-footer {
  width: 33rem;
  height: 5rem;
  margin-left: 2rem;
  /* background: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.form-footer div img {
  width: 2rem;
}

.form-footer .form-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-left: 2.5rem;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 45rem;
  padding-left: 2rem;
}
footer .footer-icons {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}
footer .footer-data {
  margin-top: 4rem;
}
