header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
header div{
    width: 80%;
}
ul{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
    display: flex;
}
li a {
    margin: auto;
    /* width: 3rem; */
    padding: 8px 12px;
    text-decoration: none;
    color: #000;
}
li a:active{
    border: 2px solid #c826e4;
}
/* ul li::after{
    content: "";
    display: flex;
    width: 2rem;
    height: 2px;
    background-color: #000;
    margin: auto;
} */
.vec::before{
    content: "";
    display: flex;
    width: 2rem;
    height: 2px;
    background-color: #000;
    margin: auto;
}

.current-page {
    border: 1px solid #c826e4;
}
.home::before{
    content: url(../assets/diamond_square3.svg);
    display: flex;
    margin: auto;
}
img::before{
    content: url(../assets/diamond_square.svg);
}
.about::after{
    content: url(../assets/diamond_square.svg);
    margin: auto;
}